<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ResponseHeaders">

    <listeners>
      <listener class-name="TestListner.ExtentTestNGIReporterListener" />
      <listener class-name="Retry.RetryListner" />

    </listeners>



    <test name="AkamaiResponseHeaderIV">
        <classes>
        <class name="TestCases.HomePageResponse" />
        <class name="TestCases.CDPResponse" />
        <class name="TestCases.PDPResponse" />
        <class name="TestCases.CheckoutResponse" />
        </classes>
    </test>


    <test name="AkamaiResponseHeaderNA" >
        <classes>



        </classes>
    </test>


    <test name="AkamaiResponseHeaderINTL" >
        <classes>



        </classes>
    </test>



</suite>
